@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --logo: 'PT Sans', sans-serif;
    --messege: 'Roboto', sans-serif;
    --background: #aebbd1;
    --message-box-background: #9aabc5;
    --sent-message: #5d78a2;
    --sent-message-color: #2b243c;
    --recieved-message: #7189ae;
    --recieved-message-color: #362e4b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.brand {
    background-color: white;
    display: flex;
    padding: 4px 5rem;
    width: 52vw;
    margin-bottom: 1rem;
    border-radius: 10px;

}

.logo img {
    width: 2rem;
}

.name h2 {
    font-family: var(--logo);
    color: var(--recieved-message-color);

}

.wraper {
    width: 50vw;
    max-width: 50vw;
    height: 80vh;
    max-height: 80vh;
    background-color: var(--message-box-background);
    padding: 0.3rem 0.5rem;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #e3f2fd;
}

.profile {

    display: flex;
    align-items: center;
    padding-left: 1vw;

}

.menu {
    align-self: center;
    flex: 50%;
    display: flex;
    justify-content: end;
    padding-right: 2vw;
}

.menu>a {
    margin: 0.7rem;
    transition: all 0.1s;
}

.menu>a:hover {
    transform: scale(1.2);
}

.profile>img {
    width: 3rem;
}

.user {
    display: inline-block;
    font-family: var(--logo);
    color: var(--recieved-message-color);
    padding: 0.5rem;
}

.message-box {
    width: 100%;
    max-height: 61vh;
    height: 61vh;
    position: relative;
    overflow-y: auto;
    margin-top: 0.5rem;
}

.incomming-msg {
    float: right;
    display: block;
    width: 100%;
    padding: 5px 1rem;
}

.incomming-msg>p,
.outgoing-msg>p {
    padding: 0.5rem 1rem;
    background-color: #d3cedf;
    min-width: 5rem;
    max-width: 45%;
    width: auto;
    display: inline-block;
    border-radius: 5px;
    color: var(--sent-message-color);
    font-family: var(--messege);
    font-weight: 500;
}

.outgoing-msg {
    float: left;
    display: block;
    width: 100%;
    padding: 5px 1rem;
}

.outgoing-msg>p {
    background-color: #897caa;
    color: white;
    float: right;
}

.write-massage {
    margin: 1rem 0 0 0;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0.5rem;
    width: 48vw;

}

#msg-input {
    resize: none;
    outline: hidden;
    border: none;
    font-family: var(--messege);
    padding: 0.5rem 1rem;
    resize: none;
    border-radius: 5px;
}

.send-btn {
    width: 2rem;
    margin-left: 0.5rem;
    transition: all 0.2s;
}

.send-btn:hover {
    margin-left: 0.7rem;
    cursor: pointer;
}

@media only screen and (max-width:900px) and (min-width:601px) {

    .brand {
        background-color: white;
        display: flex;
        padding: 1px 3rem;
        width: 95vw;
        margin-bottom: 1rem;
        border-radius: 10px;

    }

    .logo img {
        width: 3rem;
    }

    .name h2 {
        font-size: 1.8rem;
    }

    .wraper {
        width: 95vw;
        max-width: 95vw;
        height: 90vh;
        max-height: 90vh;
    }

    .navbar {
        display: flex;
        align-items: center;
        background-color: #e3f2fd;
    }

    .profile {
        display: flex;
        align-items: center;
        padding-left: 3vw;

    }

    .menu {
        align-self: center;
        flex: 50%;
        display: flex;
        justify-content: flex-end;
        padding-right: 2vw;
    }

    .menu>a {
        margin: 0.7rem;
        transition: all 0.1s;
    }

    .menu>a:hover {
        transform: scale(1.2);
    }

    .menu>a>img {
        width: 1.8rem;
    }

    .profile>img {
        width: 4rem;
    }

    .user {
        display: inline-block;
        font-family: var(--logo);
        color: var(--recieved-message-color);
        padding: 0.5rem;
        font-size: 1.8rem;
    }

    .message-box {
        width: 100%;
        max-height: 78vh;
        height: 78vh;
        position: relative;
        overflow-y: auto;
        margin-top: 0.5rem;
    }

    .incomming-msg {
        float: right;
        display: block;
        width: 100%;
        padding: 5px 1rem;
    }

    .incomming-msg>p,
    .outgoing-msg>p {
        padding: 0.5rem 1rem;
        background-color: #d3cedf;
        min-width: 5rem;
        max-width: 45%;
        width: auto;
        display: inline-block;
        border-radius: 5px;
        color: var(--sent-message-color);
        font-family: var(--messege);
        font-weight: 500;
    }

    .outgoing-msg {
        float: left;
        display: block;
        width: 100%;
        padding: 5px 1rem;
    }

    .outgoing-msg>p {
        background-color: #897caa;
        color: white;
        float: right;
    }

    .write-massage {
        margin: 1rem 0 0 1rem;
        display: flex;
        align-items: center;
        width: 100%;

    }

    #msg-input {
        resize: none;
        outline: hidden;
        border: none;
        font-family: var(--messege);
        padding: 1rem;
        resize: none;
        border-radius: 5px;
        width: 85%;

    }

    .send-btn {
        width: 2.5rem;
        margin-left: 0.5rem;
        transition: all 0.2s;
    }

    .send-btn:hover {
        margin-left: 0.7rem;
        cursor: pointer;
    }
}

@media only screen and (max-width:600px) {

    .brand {
        background-color: white;
        display: flex;
        padding: 4px 1rem;
        width: 95vw;
        margin-bottom: 1rem;
        border-radius: 10px;

    }



    .wraper {
        width: 95vw;
        max-width: 95vw;
        height: 90vh;
        max-height: 90vh;
    }

    .navbar {
        display: flex;
        align-items: center;
        background-color: #e3f2fd;
    }

    .profile {
        display: flex;
        align-items: center;
        padding-left: 1vw;

    }

    .menu {
        align-self: center;
        flex: 50%;
        display: flex;
        justify-content: flex-end;
        padding-right: 2vw;
    }

    .menu>a {
        margin: 0.7rem;
        transition: all 0.1s;
    }

    .menu>a:hover {
        transform: scale(1.2);
    }

    .profile>img {
        width: 3rem;
    }

    .user {
        display: inline-block;
        font-family: var(--logo);
        color: var(--recieved-message-color);
        padding: 0.5rem;
    }

    .message-box {
        width: 100%;
        max-height: 78vh;
        height: 78vh;
        position: relative;
        overflow-y: auto;
        margin-top: 0.5rem;
    }

    .incomming-msg {
        float: right;
        display: block;
        width: 100%;
        padding: 5px 1rem;
    }

    .incomming-msg>p,
    .outgoing-msg>p {
        padding: 0.5rem 1rem;
        background-color: #d3cedf;
        min-width: 5rem;
        max-width: 45%;
        width: auto;
        display: inline-block;
        border-radius: 5px;
        color: var(--sent-message-color);
        font-family: var(--messege);
        font-weight: 500;
    }

    .outgoing-msg {
        float: left;
        display: block;
        width: 100%;
        padding: 5px 1rem;
    }

    .outgoing-msg>p {
        background-color: #897caa;
        color: white;
        float: right;
    }

    .write-massage {
        margin: 1rem 0 0 0;
        display: flex;
        align-items: center;
        width: 90%;

    }

    #msg-input {
        resize: none;
        outline: hidden;
        border: none;
        /* font-size: 1rem; */
        font-family: var(--messege);
        padding: 0.5rem 1rem;
        resize: none;
        border-radius: 5px;
        /* font-size: 1rem; */

    }

    .send-btn {
        width: 2rem;
        margin-left: 0.5rem;
        transition: all 0.2s;
    }

    .send-btn:hover {
        margin-left: 0.7rem;
        cursor: pointer;
    }
}